.hero-area {
  width: 100%;
  background-image: url("../img/bg_banner-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
}

.gradient {
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

label {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}
